body{
    margin: 0px;
    background-color: aqua;

}

header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer{
    background-color: #666;
    color: white;
    padding: 10px;
    text-align: center;
}

#nurses{
    background-color: #f4f4f4;
    padding: 10px;
    display: inline-block;
}